/*Copyright Jon Wexler 2016 */

@font-face {
  font-family: break;
  src: url(fonts/master_of_break.otf);
}

@font-face {
  font-family: geo;
  src: url(fonts/GeosansLight.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

/* body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  background: #fff;
  
  display: flex;
  justify-content: center;
  align-items: center;
} */


/* .pick-text {
  position: relative;
  top: 18px;
  
  font-family: 'Shadows Into Light', cursive;
  letter-spacing: 2px;
  font-size: 22px;
  line-height: 15px;
  color: #000;
  
  display: flex;
  justify-content: flex-end;
  text-align: right;
} */
.nav-link {
  width: 80px;
}
.nav-link:hover::before {
  position:absolute;
  /* display: inline-flex;
  align-content: start; */
  left: 30px;
  /* margin-left: -120px; */
  z-index: -1;
  margin-top: -10px;
  content: "Pick This";
  font-family: geo;
  text-align: right;
  color: #000;
  height: 100px;
  width:100px;
  letter-spacing: 5px;
  font-size: 22px;
  line-height: 20px;
  
  background: #EFDD8D;
  border: #000 1px solid;
  box-shadow: inset 5px 5px 3px #F4FDAF,
    4px 2px 10px 3px rgba(0,0,0,0.3);
  
  border-top-left-radius: 100% 50%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 50% 100%;
  border-bottom-left-radius: 50%;
  
  transform: rotate(45deg);

  padding: 10px;
}

body {
  font-family: geo;
}

#home {
  display: none;
}

#about {
  display: none;
}

#music {
  display: none;
}

#work {
  display: none;
}

#contact {
  display: none;
}

.youtube {
  width: 100%;
}

.youtube-title {
  display: block;
  float: right;
  clear: right;
  font-size: 20px;
  font-family: geo;
  padding-bottom: 20px;
}

.title {
  font-family: break;
  word-spacing: 30px;
}

a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

a {
  color: grey;
}

.fixy {
  position: fixed;
}

.nav {
  font-family: break;
}

.link-home{
  text-decoration: none;
}

.links {
  color: lightgrey;
  float: right;
  clear: right;
  display: inline;
  word-spacing: 30px;
  overflow: visible !important;
}

.links a {
  color: lightgrey;
}

.links h3 {
  padding: 10px;
  padding-left: 20px;
  padding-right: 40px;
}

.links a:hover {
  color: lightblue;
  text-decoration: none;
}

.first-img {
  width: 100%;
}

.top {
  margin-top: 100px;
}

.contact {
  text-align: center;
}

.contact h1 {
  /* text-decoration: underline; */
  padding-bottom: 50px;
}

#main-content p {
  font-size: 20px;
  text-align: justify;
}

#main-content {
  padding: 0 20px;
}

@media only screen and (max-width: 992px) {
  body {
    /*background-color: lightgreen;*/
  }
  .container {
    width: 100%;
    padding: 0px
  }
  .contact h1 {
    font-size: 50px;
  }
  .contact h2 {
    font-size: 60px;
  }
  .title {
    text-align: center;
  }
  .nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    text-align: center;
    width: 100%;
  }
  .nav .links {
    display: inline-block;
    float: none;
    vertical-align: top;
    text-align: center;
  }
  div.links {
    /*		float: left;
		font-size: 10px;
		word-spacing: 10px;
		text-align: center;
		padding: 0;
		display: block;*/
  }
  .links h3 {
    font-size: 30px;
  }
  .fixy {
    position: relative;
  }
}
